<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="estilos/style.css">
    </head>
    <body>
        <div class="caja">
            <div class="row header">
                <header>
                    <h1>Sistema de Gestion de Notas de Servicio</h1>
                    <h2>Pagina de Inicio</h2>
                </header>
                <nav>
                    <ul>
                        <li>Clientes</li>
                        <li>Vehiculos</li>
                        <li>Productos</li>
                        <li>Notas</li>
                    </ul>
                </nav>
            </div>
            <div class="row cuerpo">
                <h2>cuerpo</h2>
            </div>
            <footer class="row footer">
                <h5>pie de pagina</h5>
            </footer>
        </div> 
    </body>
</html>