<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="estilos/loginstyle.css"> 
</head>
<body>
  <div class="login-container">
    <form class="login-form" method="POST">
      <h2>Login</h2>
      <input type="text" name="correo" id="correo" placeholder="Correo">
      <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña">
      <button type="submit">Iniciar sesión</button>
      <p><a href="/Registro">Registrarse</a></p>
    </form>
  </div>
</body>
</html>
